#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dinstall-plugin-metainfo=false \
		-Dwith-lua=lua53

override_dh_installchangelogs:
	set -e; \
	for p in $$(dh_listpackages); do \
		install -d "debian/$$p/usr/share/doc/$$p"; \
	done
	dh_installchangelogs debian/changelog.txt
