#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dinstall-plugin-metainfo=false \
		-Dwith-lua=lua53

override_dh_installchangelogs:
	set -eux; \
	for p in $$(dh_listpackages); do \
		mkdir -p "debian/$$p/usr/share/doc/$$p"; \
		dh_installchangelogs -p"$$p" debian/changelog.txt; \
	done
