name: Windows Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  windows_build:
    runs-on: windows-2019
    strategy:
      matrix:
        platform: [x64, win32]
        arch: [x64, x86]
        exclude:
          - platform: x64
            arch: x86
          - platform: win32
            arch: x64
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          architecture: ${{ matrix.arch }}

      - name: Install Dependencies
        run: |
          New-Item -Name "deps" -ItemType "Directory"

          Invoke-WebRequest http://files.jrsoftware.org/is/5/innosetup-5.5.9-unicode.exe -OutFile deps\innosetup-unicode.exe
          & deps\innosetup-unicode.exe /VERYSILENT | Out-Null

          Invoke-WebRequest https://github.com/zoitechat/gvsbuild/releases/download/zoitechat-2.17.0/idpsetup-1.5.1.exe -OutFile deps\idpsetup.exe
          & deps\idpsetup.exe /VERYSILENT

          Invoke-WebRequest https://github.com/zoitechat/gvsbuild/releases/download/zoitechat-2.17.0/gtk-${{ matrix.platform }}-2018-08-29-openssl1.1.7z -OutFile deps\gtk-${{ matrix.arch }}.7z
          & 7z.exe x deps\gtk-${{ matrix.arch }}.7z -oC:\gtk-build\gtk

          Invoke-WebRequest https://github.com/zoitechat/gvsbuild/releases/download/zoitechat-2.17.0/gendef-20111031.7z -OutFile deps\gendef.7z
          & 7z.exe x deps\gendef.7z -oC:\gtk-build

          Invoke-WebRequest https://github.com/zoitechat/gvsbuild/releases/download/zoitechat-2.17.0/WinSparkle-20151011.7z -OutFile deps\WinSparkle.7z
          & 7z.exe x deps\WinSparkle.7z -oC:\gtk-build\WinSparkle

          Invoke-WebRequest https://github.com/zoitechat/gvsbuild/releases/download/zoitechat-2.17.0/perl-5.20.0-${{ matrix.arch }}.7z -OutFile deps\perl-${{ matrix.arch }}.7z
          & 7z.exe x deps\perl-${{ matrix.arch }}.7z -oC:\gtk-build\perl-5.20\${{ matrix.platform }}

          New-Item -Path "C:\gtk-build\python-3.8" -ItemType Directory -Force | Out-Null

          $pyRoot = $env:pythonLocation
          if (-not $pyRoot) {
            $pyRoot = & python -c "import sys; print(sys.prefix)"
          }

          $target = "C:\gtk-build\python-3.8\${{ matrix.platform }}"
          if (Test-Path $target) { Remove-Item $target -Recurse -Force }

          New-Item -Path "C:\gtk-build\python-3.8" -Name "${{ matrix.platform }}" -ItemType Junction -Value $pyRoot | Out-Null

          python -m pip install --upgrade pip
          python -m pip install cffi


      - name: Build
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat"

          set "PYTHON_DIR=C:\gtk-build\python-3.8\${{ matrix.platform }}"
          if not exist "%PYTHON_DIR%\libs\python38.lib" (
            echo Missing %PYTHON_DIR%\libs\python38.lib
            dir "%PYTHON_DIR%\libs"
            exit /b 1
          )

          set "LIB=%PYTHON_DIR%\libs;%LIB%"
          set "INCLUDE=%PYTHON_DIR%\include;%INCLUDE%"

          msbuild win32\zoitechat.sln /m /verbosity:minimal /p:Configuration=Release /p:Platform=${{ matrix.platform }}
        shell: cmd

      - name: Preparing Artifacts
        run: |
          move ..\zoitechat-build\${{ matrix.platform }}\ZoiteChat*.exe .\
          move ..\zoitechat-build .\
        shell: cmd

      - uses: actions/upload-artifact@v4
        with:
          name: Installer ${{ matrix.arch }}
          path: ZoiteChat*.exe

      - uses: actions/upload-artifact@v4
        with:
          name: Build Files ${{ matrix.arch }}
          path: zoitechat-build
